
<div style="margin-left:40%; margin-top:20%">
  <p id="notice"><%= notice %></p>
  <h1>Meiers Weihnachswichteln</h1>

  <%= form_tag("/wichtel", method: "get") do %>
      <div style="color:black">
      <%= label_tag(:name, "Mein Name:") %>
      <%= select_tag(:name, options_from_collection_for_select(@users, "name", "name")) %>
      </div>

      <div style="color:black">
        <%= label_tag(:email, "Mein Email:") %>
        <%= text_field_tag(:email) %>
      </div>
      <div style="color:black">
      <%= submit_tag("Abschicken") %>
      </div>
  <% end %>


  <br>
</div>